@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --yellow-1: #d1bb63;
  --yellow-2: #998948;
  --yellow-3: #665b30;
  --yellow-4: #463e21;
  --yellow-5: #332e18;

  --gray-1: #bebcc2;
  --gray-2: #2f2f30;

  --white-1: #FFFFFF;
  --white-2: #f0e7c6;
  
  --black-1: #000000;
}

body {
  width: 100vw;
  min-height: 100vw;
  font-family: Poppins, sans-serif;
  /* background-color: var(--gray-2); */
  color: var(--white-1)
}

a {
  color: var(--yellow-1);
  text-decoration: none;
}

.main-content {
  width: 95%;
  max-width: 1000px;
}
